<!-- <canvas #previewCanvas width="{{animationWidth}}" height="400" style="border: 2px solid black;"></canvas>
<canvas #wallpaperCanvas width="{{canvasWidth}}" height="{{canvasHeight}}"
    style="border: 2px solid black; height: 400px; image-rendering: pixelated;"></canvas>
<canvas #arrayPlotCanvas width="{{arrayPlotLength}}" height="{{canvasWidth}}" [style.height.px]="4 * canvasWidth"
    [style.width.px]="arrayPlotLength"
    style="border: 2px solid black; image-rendering: pixelated; display: block"></canvas> -->
<router-outlet></router-outlet>