<div class="modal-content">
    <div class="modal-header">
        <h4>{{title}}</h4>
    </div>
    <div class="modal-body">
        <ng-container *ngFor="let property of properties">
            <div>{{property}}</div>
            <input *ngIf="isNumber[property]" type="number" class="d-block" [(ngModel)]="result[property]">
            <input *ngIf="!isNumber[property]" class="d-block" [(ngModel)]="result[property]">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button (click)="submit()">Submit</button>
    </div>
</div>