<div style="display: flex">
    <div style="flex-basis: 0; flex-grow: 1; margin-right: 8px;">
        <div>Displacement of each oscillator at t = {{ currentTimeUnits }}:</div>
        <canvas #displacementCanvas width="{{ oscillatorCount }}" height="400"
            style="display:block; border: 2px solid black; width: 100%; height: 200px; image-rendering: pixelated;"></canvas>

        <div>Energy of each oscillator at t = {{ currentTimeUnits }}:</div>
        <canvas #energyCanvas width="{{ oscillatorCount }}" height="400"
            style="display:block; border: 2px solid black; width: 100%; height: 200px; image-rendering: pixelated;"></canvas>
    </div>
    <div style="flex-basis: 0; flex-grow: 1;">
        <div>Energy ratio (11 central / all oscillators) vs time:</div>
        <canvas #energyRatioCanvas width="{{ oscillatorCount }}" height="400"
            style="display:block; border: 2px solid black; width: 100%; height: 200px; image-rendering: pixelated;"></canvas>

        <div>Energy of each oscillator vs time:</div>
        <canvas #arrayPlotCanvas width="{{ totalFrames }}" height="{{ oscillatorCount }}"
            [style.height.px]="arrayPlotHeight"
            style="display:block; border: 2px solid black; width: 100%; image-rendering: pixelated;"></canvas>
    </div>
</div>
<!-- <button (click)="runSimulation()">Start</button> -->